<configuration scan="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %level [%logger{20}:%thread] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="EV_WARN_ERR" class="net.floodlightcontroller.debugevent.DebugEventAppender">
  </appender>
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="EV_WARN_ERR" />
  </root>
  <logger name="org" level="DEBUG"/>
  <logger name="LogService" level="DEBUG"></logger> <!-- Restlet access logging -->
  <logger name="net.floodlightcontroller" level="DEBUG"/>
  <logger name="org.sdnplatform" level="INFO"></logger>
  <logger name="net.floodlightcontroller.devicemanager" level="DEBUG"></logger>
  <logger name="net.floodlightcontroller.packet" level="DEBUG"></logger>
  <logger name="net.floodlightcontroller.forwarding" level="DEBUG"></logger>
  <logger name="net.floodlightcontroller.routing" level="DEBUG"></logger>
  <logger name="net.floodlightcontroller.core" level="DEBUG"></logger>
</configuration>
