<configuration scan="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %level [%logger{20}:%thread] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="EV_WARN_ERR" class="net.floodlightcontroller.debugevent.DebugEventAppender">
  </appender>
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="EV_WARN_ERR" />
  </root>
  <logger name="org" level="INFO"/>
  <logger name="io" level="INFO"></logger> <!-- Netty logging -->
  <logger name="LogService" level="DEBUG"></logger> <!-- Restlet access logging -->
  <logger name="net.floodlightcontroller" level="INFO"/>
  <logger name="org.sdnplatform" level="INFO"></logger>
  <logger name="org.sdnplatform.sync.internal.SyncManager" level="INFO"></logger>
  <logger name="org.sdnplatform.sync.internal.config.StorageCCProvider" level="INFO"></logger>
  <logger name="org.sdnplatform.sync.internal.config.PropertyCCProvider" level="INFO"></logger>
  <logger name="org.sdnplatform.sync.internal.rpc.RPCService" level="INFO"></logger>
  <logger name="net.floodlightcontroller.devicemanager" level="INFO"></logger>
  <logger name="net.floodlightcontroller.linkdiscovery" level="INFO"></logger>
  <logger name="net.floodlightcontroller.forwarding" level="INFO"></logger>
  <logger name="net.floodlightcontroller.simpleft.FT" level="INFO"></logger>
  <logger name="net.floodlightcontroller.core" level="INFO"></logger>
  <logger name="net.floodlightcontroller.topology" level="INFO" ></logger>
  <logger name="org.projectfloodlight.openflow" level="INFO" ></logger>
  <logger name="net.floodlightcontroller.core.internal.OFSwitchManager" level="INFO"></logger>
  <logger name="net.floodlightcontroller.core.internal.OFSwitchHandshakeHandler" level="INFO"></logger>
  <logger name="net.floodlightcontroller.core.internal.OFChannelHandler" level="INFO"></logger>
  <logger name="net.floodlightcontroller.core.internal.OFSwitchManager" level="INFO"></logger>

</configuration>
