<configuration scan="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %level [%logger{20}:%thread] %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="EV_WARN_ERR" class="net.floodlightcontroller.debugevent.DebugEventAppender">
  </appender>
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="EV_WARN_ERR" />
  </root>
  <logger name="org" level="WARN"/>
  <logger name="LogService" level="DEBUG"></logger> <!-- Restlet access logging -->
  <logger name="net.floodlightcontroller" level="INFO"/>
  <logger name="org.sdnplatform" level="INFO"></logger>
  <logger name="net.floodlightcontroller.devicemanager" level="INFO"></logger>
  <logger name="net.floodlightcontroller.packet" level="INFO"></logger>
  <logger name="net.floodlightcontroller.forwarding" level="INFO"></logger>
  <logger name="net.floodlightcontroller.routing" level="INFO"></logger>
  <logger name="net.floodlightcontroller.core.internal" level="INFO"></logger>
  <logger level="INFO" name="net.floodlightcontroller.learningswitch"></logger>
  <logger level="INFO" name="org.projectfloodlight.openflow"></logger>
</configuration>
