Source: floodlight
Section: unknown
Priority: extra
Maintainer: Rich Lane <rlane@bigswitch.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/floodlight.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/floodlight.git;a=summary

Package: floodlight
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
